main {
  padding-top: 80px;
}

.produtos-page .produtos-hero {
  text-align: center;
  padding: 0px 20px 40px;
}

.produtos-page .produtos-hero h1 {
  font-size: 2.4rem;
  letter-spacing: 6px;
  margin-bottom: 15px;
}

.produtos-page .produtos-hero p {
  color: #b5b5b5;
  font-size: 1rem;
}

.produtos-page .produtos-lista {
  padding: 0 50px 80px;
}

.produtos-page .produtos-topo {
  margin-bottom: 40px;
}

.produtos-page .produtos-topo h2 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-bottom:  10px;
}

.produtos-page .produtos-topo p {
  color: #9a9a9a;
}

.produtos-page .produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.produtos-page .produto-card {
  background-color: #111;
  border: 1px solid rgba(255,255,255,0.06);;
  overflow: hidden;
  transition: 0.3s;
}

.produtos-page .produto-card:hover {
  transform: translateY(-8px);
  border: 1px solid gold;
}

.produtos-page .produto-card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  display: block;
}

.produtos-page .produto-info {
  padding: 20px;
}

.produtos-page .produto-info h3 {
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.produtos-page .produto-modelo {
  color: #9f9f9f;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.produtos-page .produto-preco {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.produtos-page .produto-info button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(to right, #9f9f9f,white, white, white, #9f9f9f);
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.produtos-page .produto-info button :hover {
  background: #d6d6d6;
}

@media (max-width: 768px) {

}